.top-container {
  width: 100%;
  height: 95vh;
}

.top-carousel img {
  width: 100%;
  height: 95vh;
}

@media screen and (min-width: 1200px) {
  .top-container,
  .top-carousel img {
    height: 95vh;
  }
}


@media screen and (max-width: 1200px) {
  .top-container,
  .top-carousel img {
    height: 70vh;
  }
}


@media screen and (max-width: 768px) {
  .top-container,
  .top-carousel img {
    height: 50vh;
  }
}


@media screen and (max-width: 480px) {
  .top-container,
  .top-carousel img {
    height: 40vh;
  }
}
