@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.brands-head h1 {
  text-align: center;
  font-size: 28px;
  letter-spacing: 0.5px;
  font-weight: 500;
  padding: 20px;
  font-family: "Roboto", sans-serif;
}

.brands-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-left: 50px;
  margin-right: 50px;
}

.brands-content img {
  width: 350px;
}

@media screen and (min-width: 1200px) {
  .brands-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .brands-content img {
    width: 300px;
  }
}

@media screen and (max-width: 1200px) {
  .brands-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }

  .brands-content img {
    width: 280px;
  }
}

@media screen and (max-width: 768px) {
  .brands-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .brands-head h1 {
    font-size: 24px;
  }

  .brands-content img {
    width: 150px;
  }
}

@media screen and (max-width: 480px) {
  .brands-grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .brands-head h1 {
    font-size: 20px;
  }

  .brands-content img {
    width: 100%;
  }
}
