img{
    width: 200px;
    height: 200px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form{
    width: 380px;
    height: 600px;
    padding: 20px;
    background-color: #fff;
    color: #323232;
    border-radius: 20px;
}